{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <p>Note: Please Enter date in the form of MM/DD/YYYY</p>
                <legend class="border-bottom mb-4">Add task to your to do list</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Create</button>
            </div>
        </form>
     </div>

        {% for dataa in data.work %}
		  <div class="media-body">
		    <div class="article-metadata">

		      <a class="mr-2" href="#">{{ dataa.title }}</a>
		    </div>
		    <p class="article-content">{{ dataa.Description }}</p>
            <p class="article-content">{{ dataa.date_doneby }}</p>
		  </div>
        {% endfor %}
{% endblock content %}